* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 235, 211);
}

header {
  height: 60px;
  width: 100%;
  background-color: rgb(9, 0, 29);
  color: white;
  padding: 15px;
  font-size: 28px;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

.main {
  display: flex;
  margin-top: 100px;
}

.field {
  width: 250px;
  height: 500px;
  border: 2px solid rgb(63, 63, 63);
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  box-sizing: content-box;
}

.cell {
  width: 25px;
  height: 25px;
}

.full-cell {
  background-color: rgb(41, 41, 41);
}

.info {
  margin-left: 40px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.info div {
  width: 200px;
}

.info p {
  display: inline;
  margin-right: 10px;
}
